@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:wght@300&family=Roboto:wght@300;700&display=swap');

:root {
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #434656;
    color: #ffffff;
}

h1 {
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    cursor: pointer;
    color: #6FFACC;
}

header {
    padding: 16px 24px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar input {
    padding: 4px 8px 4px 32px;
    color: white;
    font-size: 1rem;
    border-radius: 16px;
    border: 2px solid white;
    width: 300px;
    background-color: transparent;
}

.search-bar input:focus {
    outline: none;
}

.search-bar {
    position: relative;
}

.search-bar label {
    height: 16px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.search-bar .icon {
    height: 100%;
}

.search-bar button {
    font-size: 0.9rem;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: #6FFACC;
    font-weight: 700;
    cursor: pointer;
}
