@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');

:root {
    font-size: 16px;
    --cards-color: #222844;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #3d4564, #424b70, #47507c, #4d5688, #545b94);
    color: #ffffff;
}

h1 {
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    cursor: pointer;
    color: #6FFACC;
}

header {
    padding: 16px 24px 8px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.search-bar input {
    padding: 4px 8px 4px 32px;
    color: white;
    font-size: 1rem;
    border-radius: 16px;
    border: 2px solid white;
    width: 100%;
    background-color: transparent;
}

.search-bar input:focus {
    outline: none;
}

.search-bar {
    position: relative;
    flex: 1;
    max-width: 300px;
}

.search-bar label {
    height: 16px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.search-bar .icon {
    height: 100%;
    position: absolute;
}

.search-bar button {
    font-size: 0.9rem;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: #6FFACC;
    font-weight: 700;
    cursor: pointer;
}

main {
    padding: 64px;
    justify-content: center;
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 500px 1fr;
    gap: 64px;
}

.current-weather {
    padding: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--cards-color);
    border-radius: 8px;
    grid-row: 1 / -1;
}

.current-weather .city-info {
    text-align: center;
}

.current-weather .city-name {
    font-size: 3rem;
    color: #6FFACC;
}

.weather-info {
    margin-top: 24px;
}

.weather-info .temperature {
    font-size: 4rem;
    text-align: center;
}

.weather-info .temperature .small {
    font-size: 1.5rem;
    position: relative;
    bottom: 32px;
}

.extra {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-items: center;
    font-size: 1rem;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data .description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data img {
    width: 32px;
}

.weather-condition {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-condition img {
    width: 84px;
}

.card-container {
    display: flex;
    gap: 24px;
    flex: 1;
}

.card {
    padding: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    background-color: var(--cards-color);
    border-radius: 16px;
    justify-content: center;
}

.card h3 {
    font-size: 1.2rem;
}

.card,
.card p {
    font-size: 0.9rem;
}

.forecast {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.card .data-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 16px;
}

.forecast h2 {
    margin-bottom: 8px;
}

.card .condition-container {
    width: 64px;
    height: 32px;
    overflow: hidden;
    position: relative;
    margin-top: 16px;
}

.card .weather-condition img {
    width: 64px;
    object-fit: scale-down;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.forecast .temperature-maxmin {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}
