@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins:wght@300&display=swap');

:root {
  font-size: 16px;
  --color-cta: #3aff5b;
  --color-background: #e1e8ef;
  --color-current-weather: #0097cf;
  --color-card: #ffffff;
  --box-shadow-card: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: white;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-current-weather);
}

header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

h1 {
  font-size: 1.2rem;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 2px;
  color: white;
}

.search-bar input {
  flex: 1;
  color: white;
  font-size: 1rem;
  background: none;
  border: none;
  min-width: 0;
}

.search-bar input::placeholder {
  color: #bebebe;
}

.search-bar input:focus {
  outline: none;
}

.search-bar {
  padding: 2px 6px;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 2px solid white;
  max-width: 250px;
  min-width: 0;
}

.search-bar .icon {
  height: 16px;
  display: block;
}

.search-bar button {
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
  color: var(--color-cta);
  font-weight: 700;
  cursor: pointer;
}

main {
  flex: 1;
  max-width: 100vw;
  display: flex;
  align-items: center;
}

.current-weather {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 32px 8px;
  text-align: center;
}

.current-weather .city-info {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.current-weather .city-name {
  font-size: 3rem;
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  color: var(--color-cta);
  text-shadow: 1px 1px black;
}

.current-weather .temperature {
  font-size: 4rem;
  text-align: center;
}

.current-weather .temperature .small {
  font-size: 1.5rem;
  position: relative;
  bottom: 32px;
}

.current-weather .weather-condition {
  font-size: 1.2rem;
}

.current-weather .weather-condition img {
  height: 64px;
  object-fit: cover;
}

.current-weather .data-container {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, max-content);
}

.forecast {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast .weather-condition img {
  height: 48px;
  object-fit: cover;
  filter: drop-shadow(0 0 1px black);
}

.weather-data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.forecast .card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.data-container {
  display: grid;
  gap: 16px 48px;
  grid-template-columns: 1fr 1fr;
}

.data-name {
  font-weight: 700;
}

.data-container img {
  width: 32px;
}

.current-weather .data,
.current-weather .data .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forecast .data {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.temperature-minmax {
  display: flex;
  gap: 16px;
}

.weather-condition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
}

.weather-condition img {
  display: block;
}

.forecast-container {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: var(--color-background);
}

.forecast-container .buttons-container {
  display: flex;
  gap: 32px;
}

.switch-tab-btn {
  position: relative;
  background: none;
  border: none;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.switch-tab-btn:before {
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 50%;
  content: '';
  transition: all 0.5s;
  background-color: black;
}

.switch-tab-btn.active:before {
  width: 100%;
  left: 0;
  background-color: var(--color-current-weather);
}

.switch-tab-btn:hover:before {
  width: 100%;
  left: 0;
}

.card {
  border-radius: 8px;
  padding: 24px;
  background-color: var(--color-card);
  color: black;
  box-shadow: var(--box-shadow-card);
}

.card h3 {
  font-size: 1.5rem;
}

.forecast .card {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 130px 1fr;
  gap: 8px 48px;
  align-items: center;
  justify-content: center;
  max-width: 610px;
  width: 100%;
}

.forecast .title {
  grid-column: 1 / -1;
  text-align: center;
}

.forecast .card .temperature {
  display: flex;
  gap: 16px;
  font-weight: 300;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.cloud-container {
  position: relative;
  width: 160px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
}

.cloud-container:before {
  content: '';
  position: absolute;
  height: 55px;
  width: 55px;
  top: -25px;
  left: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 45px 5px 0 15px white;
}

.cloud {
  position: absolute;
  background-color: #ffffff00;
  overflow: hidden;
}

.cloud:before {
  content: '';
  background-color: var(--color-current-weather);
  position: absolute;
  height: 160px;
  width: 160px;
  bottom: 0;
  animation: loading 2s infinite;
}

.cloud:nth-child(2):before {
  bottom: -20px;
}

@keyframes loading {
  from {
    transform: translateY(160px);
  }
  to {
    transform: translateY(75px);
  }
}

.cloud:nth-child(1) {
  width: 160px;
  height: 50px;
  border-radius: 50px;
}

.cloud:nth-child(2) {
  top: -25px;
  left: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.cloud:nth-child(3) {
  top: -35px;
  left: 50px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  filter: drop-shadow(1px 1px 2px black);
}

@media (max-width: 975px) {
  .current-weather {
    flex-direction: column;
    gap: 0;
    padding: 0 8px 32px;
  }
  .current-weather .data-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
  }
  .weather-condition {
    margin-bottom: 16px;
  }
}

@media (max-width: 650px) {
  .current-weather .data-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    gap: 16px;
    width: 100%;
  }
  .forecast .card {
    grid-template-rows: max-content max-content 1fr;
    grid-template-columns: 1fr;
  }
  .forecast .data-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  .logo-container h1 {
    display: none;
  }
}
